<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Mark Predictor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Mark Predictor</h1>
        <form action="{{url_for('predict')}}" method="POST">
            <h1>Enter total Study Hour per day</h1>
            <input type="number" step="any" name="Study Hour" placeholder="Enter Study Hour" class="inputBox">
            <input type="submit" class="submitBtn">
        </form>
        <br>
        <br>

        <!-- To show the result -->
        <h2>{{ prediction_text }}</h2> 
    </div>
    
</body>
</html>